Pillow==11.1.0
agent
config
database
easyocr
flask==3.0.3
langchain-chroma==1.0.0
langchain-community==0.4.1
langchain-core==1.2.23
langchain-groq==1.1.2
langchain-huggingface==1.0.1
langchain-text-splitters==1.0.0
numpy==1.26.4
opencv-python-headless
python-dotenv==1.2.1
requests==2.32.5
thefuzz
torch==2.5.1+cpu